.nav-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
}
.link-container {
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.link {
    color: #111;
    font-weight: 300;
    text-decoration: none;
    font-size: 2em;
    transition: 0.3s ease;
}
.link:hover {
    color: rgb(96, 178, 163);
    transition: 0.3s ease;
}
#cart-btn {
    position: relative;
}
.fa-cart-shopping{
    color: #111;
    font-size: 35px;
}
.qty-container {
    width: 22px;
    height: 22px;
    bottom: 5%;
    background-color: rgb(187, 0, 0);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 15px;
    border-radius: 50%;
}
.store-prop-container {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-bottom: 5%;
    flex-direction: column;
}
.store-prop-img-container{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.store-prop-img{
    width: 100%;
}
.store-prop-info{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}
.prop-title {
    font-weight: bold;
}
.prop-price {
    color: rgb(126, 126, 126);
}
.add-btn-container {
    width: 50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center ;
}
.add-btn {
    background-color: rgb(96, 178, 163);
    width: 100%;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    font-weight: bold;
}
.adjust-btn-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.adjust-btn{
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
}
.adjust-btn p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}
.adjust {
    background-color: rgb(96, 178, 163);
    border: none;
    font-size: 2em;
    height: max-content;
    padding: 10px;
    border-radius: 10px;
}
.remove-btn{
    background-color: rgb(229, 72, 72);
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    border-radius: 10px;
    color: #fff;
}